.date-change-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#date-selector {
    cursor: pointer;
}

label {
    font-size: 1.2rem;
    margin: 0.8rem 1.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.8rem 1.5rem;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    /* background-color: #4CAF50; */
    border: none;
    /* color: white; */
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
}