.table-container {
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 1px;
}

th {
    font-weight: bold;
    height: inherit;
    padding: 0;
}

th:not(:first-of-type) {
    border-left: 1px solid #ddd;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 0.5rem 1rem;
    text-align: left;
}