.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.table-container {
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #444;
}

th:first-child,
td:first-child {
  width: 80%;
}

th:not(:first-child),
td:not(:first-child) {
  width: calc(90% / 3);
}


thead tr {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 1px;
}

th {
    font-weight: bold;
    height: inherit;
    padding: 0.5rem 0;
}

th:not(:first-of-type) {
    border-left: 1px solid #ddd;
}

tr {
    border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

td {
    padding: 0.5rem 1rem;
    text-align: center;
}

td:first-child {
    text-align: left;
}

td:last-child {
    font-weight: 600;
}